<!DOCTYPE html>

<html>
<head>
    <% include ./partials/head %>

</head>

<body>
<header>
    <% include ./partials/header %>

</header>
<div class="tab">
    <h1 class="name-text"><%= name %></h1>
    <h2>Score: <span class="score-text"><%= analysis.score %></span></h2>
    <h3>Last five posts:</h3>

    <table>
        <tr>
            <th>Post</th>
            <th>Bully prob.</th>
        </tr>
        <% for (var i = 0; i < data.length; i++) { %>
        <tr>
            <td><%= data[i].text %></td>
            <td><%= data[i].score %></td>
        </tr>
        <% } %>
    </table>

    <h3>Overall sentiment:</h3>
    <table>

        <tr>
            <th>Name</th>
            <th>sentiment</th>
            <th>relevance</th>
            <th>anger</th>
            <th>disgust</th>
            <th>fear</th>
            <th>joy</th>
            <th>sadness</th>
        </tr>
        <% for (var i = 0; i < analysis.person.length; i++) { %>
        <% var person = analysis.person[i] %>
        <tr>
            <td><%= person.name %></td>
            <td class="num-cell-fullrange"><%= person.sentiment %></td>
            <td class="num-cell"><%= person.relevance %></td>
            <td class="num-cell"><%= person.emotions.anger %></td>
            <td class="num-cell"><%= person.emotions.disgust %></td>
            <td class="num-cell"><%= person.emotions.fear %></td>
            <td class="joy"><%= person.emotions.joy %></td>
            <td class="num-cell"><%= person.emotions.sadness %></td>
        </tr>
        <% } %>
    </table>
</div>
<script src="assets/colortable.js"></script>
</body>
</html>